.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Change background color as needed */
    padding: 20px; /* Adjust padding as needed */
    text-align: center;
  }